# .NET
bin/
obj/
*.user
*.suo
.vs/

# Node / Angular
node_modules/
dist/
.angular/
npm-debug.log*
yarn-error.log

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
